:root {
  --main-title-color: #ffffff;
  --main-btn-bg-color: #ffffff;
  --secondary-title-color: #303030;
  --secondary-btn-color: #303030;
  --accent-color: #ff6c00;
}
body {
  font-family: 'Open Sans', sans-serif;
}

/*---- reset start---- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/*---- reset end---- */

.btn {
  padding: 11px 19px;
  min-width: 160px;
  height: 40px;

  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-btn-color);

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--main-btn-bg-color);
}
.btn-theme-dark {
  color: var(--main-btn-bg-color);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid tomato;
}
.upertitle {
  margin-bottom: 20px;
}
.main-title {
  margin-bottom: 20px;
}

/*------header----- */
.header {
  background-color: #191c26;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-link {
  margin-right: 132px;
}
.header-nav {
  margin-right: auto;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-group {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-tel {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-btn {
  color: var(--main-btn-bg-color);
}

/*------header----- */

/* -----hero------ */
.hero {
  background-color: #191c26;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
  transform: rotate(-90deg);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-description {
  width: 360px;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ------about--------- */
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}
.about {
  background-color: var(--main-btn-bg-color);
}
.about-right-side {
  width: 470px;
}
.about-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.about-sub-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--secondary-title-color);
}

.about-description {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
}
.about-text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: #555555;
}
/* ------about--------- */

/*----section-dekstop----*/
.section-desktop {
  background-color: #191c26;
}

.desktop-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.desktop-title {
  margin-bottom: 44px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}
.desktop-item-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: #9da4bd;
}
/*----section-dekstop----*/
/*----section-me-----*/
.text-number {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  /* text-align: center; */
  letter-spacing: 0.05em;
  color: var(--secondary-title-color);
}
.sign {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  vertical-align: super;

  color: var(--accent-color);
}
.me-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  /* text-align: center; */

  color: var(--secondary-title-color);
}
.me-subtext {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.me-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--secondary-title-color);
}
.me-description {
  font-size: 18px;
  line-height: calc (30 / 18);
  letter-spacing: 0.02em;

  color: #555555;
}

/*----section-barbers-----*/
.barbers-description {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.barbers-title {
  margin-bottom: 44px;
  font-family: 'Raleway';
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--secondary-title-color);
}
.barbers-box {
  padding-top: 30px;
}
.barbers-subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: calc(25 / 18);
  /* text-align: center; */
  letter-spacing: 0.02em;

  color: var(--secondary-title-color);
}
.barbers-subtext {
  font-size: 14px;
  line-height: calc(19 / 14);
  /* text-align: center; */
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

/*----section-portfolio-----*/
.portfolio-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.portfolio-text {
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

/*----section-portfolio-----*/

/*----onl-booking---- */
.onl-booking {
  background: #191c26;
}
.onl-booking-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.onl-booking-btn {
  padding: 11px 61px;
}
/*----onl-booking---- */

/* ----contacts section---- */
.contacts {
  padding-top: 130px;
  background: #191c26;
}
.contacts-title {
  margin-bottom: 40px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: #ffffff;
}
.adress-box {
  margin-bottom: 70px;
}
.address-link {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.tel-link {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.mailto-link {
  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #9da4bd;
}
.contacts-descriptons {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--main-title-color);
}
.contacts-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ----contacts section---- */

/* ----footer---- */
.footer {
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}
/* ----footer---- */
