:root {
  --main-title-color: #ffffff;
  --main-btn-bg-color: #ffffff;
  --secondary-title-color: #303030;
  --secondary-btn-color: #303030;
  --accent-color: #ff6c00;

  /*---Others----*/
  --indent: 30px;
  --items: 3;
  --header-idx: 10;
  --modal-idx: 100;
  --menu-idx: 1000;
}
body {
  font-family: 'Open Sans', sans-serif;
}

/*---- reset start---- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/*---- reset end---- */

.btn {
  padding: 11px 19px;
  min-width: 160px;
  height: 40px;

  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--secondary-btn-color);

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--main-btn-bg-color);
}
.btn-theme-dark {
  color: var(--main-btn-bg-color);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.uppertitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.uppertitle::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: #303030;
}
.uppertitle-theme-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}
.main-title {
  margin-bottom: 20px;
}
/* ---*Card set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
/* ---*Card set */

/*------header----- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header-idx);
  width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-link {
  margin-right: 132px;
}
.header-logo {
  fill: #303030;
}
.header-nav {
  margin-right: auto;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-group {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 20px;
}
.nav-link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-tel {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-btn {
  color: var(--main-btn-bg-color);
}

/*------header----- */

/* -----hero------ */
.hero {
}
.hero-container {
  display: flex;
}
.hero-left-side {
  display: flex;
  width: 100px;
  align-items: flex-end;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
  transform: rotate(-90deg);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-right-side {
  position: relative;
  flex-grow: 1;
  padding-top: 272px;
  padding-right: 526px;
  padding-bottom: 208px;
  padding-left: 100px;
  background-color: rgba(25, 28, 38, 0.2);
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.hero-description {
  width: 360px;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.slider-pogination {
  position: absolute;
  right: 20px;
  top: calc(50% - 15px);
}

.slider-pogination-item {
  margin-left: auto;
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}

.slider-pogination-item:not(:last-child) {
  margin-bottom: 12px;
}
.slider-pogination-item.active {
  width: 18px;
  background-color: #ffffff;
}
.slider-list {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ------about--------- */
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}
.about {
  background-color: var(--main-btn-bg-color);
}
.about-right-side {
  width: 470px;
}
.about-title {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.about-sub-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--secondary-title-color);
}

.about-description {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #555555;
}
.about-text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: #555555;
}
/* ------about--------- */

/*----section-dekstop----*/
.section-desktop {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/desktop-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.desktop-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
.desktop-list {
  flex-basis: 570px;
  padding: 30px 20px;
}
.desktop-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.desktop-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.desktop-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.desktop-title {
  margin-bottom: 44px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--main-title-color);
}
.desktop-item:not(:last-child) {
  margin-bottom: 20px;
}
.desktop-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.desktop-item-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.desktop-item::before {
  content: '';
  display: block;
  height: 1px;
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgba(157, 164, 189, 0.12);
}
.service-text {
  order: -1;
}
.desktop-btn {
  display: block;
  margin: 0 auto;
}
/*----section-dekstop----*/
/*----section-me-----*/
.text-number {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  /* text-align: center; */
  letter-spacing: 0.05em;
  color: var(--secondary-title-color);
}
.sign {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  vertical-align: super;

  color: var(--accent-color);
}
.me-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  /* text-align: center; */

  color: var(--secondary-title-color);
}
.me-subtext {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.me-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--secondary-title-color);
}
.me-description {
  font-size: 18px;
  line-height: calc (30 / 18);
  letter-spacing: 0.02em;

  color: #555555;
}

/*----section-barbers-----*/
.section-barbers {
  background-color: #f7f7f7;
}
.barbers-description {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.barbers-title {
  margin-bottom: 44px;
  font-family: 'Raleway';
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: var(--secondary-title-color);
}

.barbers-box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.barbers-subtitle {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: calc(25 / 18);
  letter-spacing: 0.02em;

  color: var(--secondary-title-color);
}
.barbers-subtext {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}
.socials-icon {
  fill: #303030;
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--accent-color);
}

/*----section-portfolio-----*/
.portfolio-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.portfolio-text {
  margin-bottom: 44px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.portfolio-list {
  --items: 4;
}
/*----section-portfolio-----*/

/*----onl-booking---- */
.contacts-group {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/booking-bg.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 423px) top 50%;
}
.contacts-container {
  display: flex;
  justify-content: space-between;
}
.onl-booking,
.contacts {
  width: 570px;
  padding-top: 130px;
}
.onl-booking-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}
.onl-booking-btn {
  padding: 11px 61px;
}
/*----onl-booking---- */

/* ----contacts section---- */
.contacts {
  padding-left: 100px;
}

.contacts-title {
  margin-bottom: 40px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  color: #ffffff;
}
.adress-box {
  margin-bottom: 70px;
}
.address-link {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.tel-link {
  margin-bottom: 20px;
  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.mailto-link {
  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #9da4bd;
}
.contacts-descriptons {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-transform: uppercase;
  color: var(--main-title-color);
}
.contacts-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.address-link > svg {
  align-self: baseline;
  margin-top: 6px;
}
/* ----contacts section---- */

/* ----footer---- */
.footer {
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}
/* ----footer---- */
